.pfdetail{
    width: auto;
    padding: 30px;
    margin-top: 90px;
}
.pfdet{
    padding: 40px;
    background-image: linear-gradient(to right, #030812, #545557);
    font-family: sans-serif;
    font-weight: 500;
    display: flex;
    border-radius: 10px;
    flex-direction: column;
    gap: 30px;
}
.pfdet .title{
    color: #BB362A;
    font-family: sans-serif;
    font-weight: 500;
}
.inptitles{
    color: #BB362A;
}
.textinp{
    padding: 7px;
    font-size: 17px;
    border-radius: 8px;
    width: 97%;
    border: none;
    outline: none;
}
.inputset1{
    display: flex;
    gap: 27px;
}
.inputset1 div{
    width: 100%;
}
.inputsdob{
    display: flex;
    gap: 10px;
}
.uploadlogo{
    height: 62px;
    color: white;
}
.fileupld{
    text-align: center;
    border: 2px solid white;
    border-style: dashed;
    border-radius: 12px;
    padding: 33px;
}
.nextbtnsmt{
    background-image: linear-gradient(to right, #BB362A, #F15042);
    color: white;
    width: fit-content;
    margin: auto;
    padding: 7px 71px;
    font-size: 24px;
    border: none;
    border-radius: 10px;
}

@media screen and (max-width: 750px) {
    .inputset1{
        flex-direction: column;
        gap: 6px;
    }
    .pfdetail{
        padding: 15px;
    }
    .pfdet{
        padding: 20px;
        gap: 13px;
    }
}